@import '~@angular/material/theming';
@include mat-core();

$dashboard-primary: mat-palette($mat-light-green);
$dashboard-accent: mat-palette($mat-grey, A200, A100, A400);
$dashboard-warn: mat-palette($mat-red);
$dashboard-theme: mat-light-theme($dashboard-primary, $dashboard-accent, $dashboard-warn);

@include angular-material-theme($dashboard-theme);

