@import '~@angular/material/theming';
@import '../../../assets/themes/theme';


app-big-number-card{
  height: 100%;
  .card-container {
    height: 100%;
  }

  .card-body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 60px;
    height: 75%;
    font-weight: bolder;
    color: mat-color($dashboard-primary, 600)
  }

}


